# Google OAuth Secret
client_secret*.json

# Environment variables
node_modules/
.pnpm-store/
.DS_Store
.env
.env.*
!.env.example
*.log
coverage/
dist/
build/
.vscode/
.idea/
mongodb-database-tools-windows-x86_64-100.17.0.msi
.turbo/

# Python virtual environments and caches
venv/
.venv/
__pycache__/
*.pyc
*.jpg
*.jpeg
*.png

# Large database dumps and import files
import-data/